@import '../../assets/less/common.less';

.container {
    .iconContent {
        height: 100%;
        display: flex;
        display: -webkit-flex; /* Safari */
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: white;
        span {
            width: 100%/6;
            height: 200px;
            word-wrap: break-word;
            text-align: center;
            & > i {
                font-size: 35px;
                line-height: 75px;
                transition: font-size 0.25s ease-out 0s;
            }    
        }
        span:hover {
            & > i {
                font-size: 60px;
            }
        }
    }
}
